/* ============================================= */
/*              Traffic Chart               */
/* ============================================= */

.traffic-header {
  display: flex;
  align-items: center;
  h3 {
    padding-left: 15px;
    text-transform: uppercase;
  }
  ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    li {
      list-style-type: none;
      margin-left: 5px;
      &:last-child {
        padding-right: 5px;
      }
    }
  }
}

.widget-container-full {
  margin: 10px auto;
}

@media (min-width: 768px) {
  .traffic-header {
    ul li {
      margin-left: 15px;
      &:last-child {
        padding-right: 15px;
      }
    }
  }
}

/* ============================================= */
/*          Daily Traffic Chart              */
/* ============================================= */
.daily {
  border-top: $border;
  border-bottom: $border;
  border-right: $border;
  h3 {
    text-transform: uppercase;
    padding-left: 15px;
    text-align: center;
  }
  .widget-container-half {
    margin: 10px auto;
  }
}

.mobile {
  border-top: $border;
  border-bottom: $border;
  h3 {
    text-transform: uppercase;
    padding-left: 15px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .mobile,
  .daily {
    h3 {
      text-align: inherit;
    }
  }
}

/* ============================================= */
/*            Mobile Users Chart             */
/* ============================================= */

.mobile {
  .widget-container-half {
    margin: 10px auto;
  }
}
