/* ============================================= */
/*              Dashboard                            */
/* ============================================= */
.main-header {
  display: flex;
  h2 {
    align-self: flex-start;
    padding: 0 15px;
  }
  .border {
    border: 1px solid #dfdfdf;
    background-color: #fbfbfb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    #search-bar {
      margin-right: 15px;
      width: 40%;
      height: 70%;
      border: 1px solid #dbdbdb;
      border-radius: 5px;
      padding-left: 10px;
      position: relative;
      &:focus {
        outline: none;
        border: 1px solid $top-nav;
      }
    }
    .fa-search {
      position: absolute;
      right: 25px;
      color: $top-nav;
    }
  }
}
