/* ============================================= */
/*              Forms                            */
/* ============================================= */
.main-header {
  display: flex;
  justify-content: center;
  h2 {
    align-self: flex-start;
  }
  .border {
    border: 1px solid #dfdfdf;
    background-color: #fbfbfb;
  }
}
