/* ============================================= */
/*              Images                           */
/* ============================================= */
#notifications img {
  border-radius: 50%;
  max-width: 20%;
  padding: 15px 0;
}

img,
svg {
  max-width: 100%;
}
