/* ============================================= */
/*              Navigation                  */
/* ============================================= */
.nav {
  background-color: $side-nav;
  max-height: 70px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 40px;
      padding: 15px;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    max-height: initial;
    a {
      flex-direction: column;
      img {
        max-height: 20px;
        padding: 20px 0;
      }
    }
  }
}
