/* ============================================= */
/*              Base styles                      */
/* ============================================= */
.widget-container-full,
.widget-container-half {
  width: 95vw;
}

html {
  font: normal 62.5% Nunito, sans-serif;
  color: #676666;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: normal;
}

p {
  font-size: 1.6rem;
}

img,
svg {
  max-width: 100%;
  height: auto;
}
